@import 'sizes';
@import 'colors';
@import 'fonts';
@import 'home';
@import 'connect';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    font-family: $quicksand;
}

body {
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;

    background-color: $white2;
}

h1 {
    color: $white2;
}

a {
    text-decoration: none;
}

header {
    position: relative;

    grid-column: 1 / 7;
    grid-row: 1 / 2;

    @include flexR(flex-start, center);

    background-color: $black;
    padding: 15px;

    .mobileButton {
        position: absolute;
        top: 10px;
        right: 20px;

        display: none;

        width: 40px;
        height: 40px;

        border: 1px solid $white;

        @media screen and (max-width: 1000px) {
            display: flex;
        }
    }
}

aside {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    @include flexC(space-around, center);

    background-color: $grey;

    @media screen and (max-width: 1000px) {
        display: none;
    }
}

nav {
    @include flexC(center, center);

    a {
        color: #000;
        margin: 10px;
    }
}

.socials {
    @include flexR(center, center);

    padding: 0 40px;

    a {
        color: $black;
        margin: 10px;
        font-size: 2.5rem;
    }
}

main {
    grid-column: 2 / 7;
    grid-row: 2 / 3;

    @include flexC(center, center);

    @media screen and (max-width: 1000px) {
        grid-column: 1 / 7;
    }
}

footer {
    grid-column: 1 / 7;
    grid-row: 3 / 4;

    @include flexR(center, center);

    background-color: $black;
    padding: 15px;

    p {
        color: $white;
    }
}


