@import 'sizes';
@import 'colors';
@import 'fonts';


* {
    margin: 0;
    padding: 0;
    font-family: $quicksand;
}

body {
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;

    background-color: $white2;
}

h1 {
    color: $white2;
}

a {
    text-decoration: none;
}

header {
    position: relative;

    grid-column: 1 / 7;
    grid-row: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $black;
    padding: 15px;

    .mobileButton {
        position: absolute;
        top: 10px;
        right: 20px;

        width: 40px;
        height: 40px;

        border: 1px solid $white;
    }
}

aside {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: $grey;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        color: #000;
        margin: 10px;
    }
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 0 40px;

    a {
        color: $black;
        margin: 10px;
        font-size: 2.5rem;
    }
}

main {
    grid-column: 2 / 7;
    grid-row: 2 / 3;
}

footer {
    grid-column: 1 / 7;
    grid-row: 3 / 4;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $black;
    padding: 15px;

    p {
        color: $white;
    }
}

@media screen and (max-width: 1000px) {

    aside {
        display: none;
    }

}
